{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}